.Todos-Container{
  display: inline-block;
  width: 100%;
  height: 100vh;
}
.Todos-Wrapper {
  display: block;
  justify-content: center;
  margin: 50px;
  height: 80vh;
}
.Todos-Card {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 10vh;
  background-color: gray;
}